<footer class="rodapé">
  <h2 class="rodapé__titulo">Sistema Educativo</h2>
  <ul class="lista-rodapé">
      <li class="lista-rodapé__titulo">Educação</li>
      <li class="lista-rodapé__item">
          <img src="/assets/img/CasaDoCodigo.svg" alt="Logo da casa do código">
          <a href="https://www.casadocodigo.com.br/" class="lista-rodapé__link">Casa do código</a>
      </li>
      <li class="lista-rodapé__item">
          <img src="/assets/img/Caelum.svg" alt="Logo da caelum">
          <a href="https://caelum.com.br/" class="lista-rodapé__link">Caelum</a>
      </li>
  </ul>

  <ul class="lista-rodapé">
      <li class="lista-rodapé__titulo">Educação online</li>
      <li class="lista-rodapé__item">
          <img src="/assets/img/Alura.svg" alt="Logo da Alura">
          <a href="https://www.alura.com.br/" class="lista-rodapé__link">Alura</a>
      </li>
  </ul>

  <ul class="lista-rodapé">
      <li class="lista-rodapé__titulo">Comunidade</li>
      <li class="lista-rodapé__item">
          <img src="/assets/img/HipstersTech.svg" alt="Logo do Hipsters ponto Tech">
          <a href="https://hipsters.tech/" class="lista-rodapé__link">Hipsters ponto Tech</a>
      </li>
      <li class="lista-rodapé__item">
          <img src="/assets/img/ScubaDev.svg" alt="Logo do Scuba Dev">
          <a href="https://scuba.dev.br/" class="lista-rodapé__link">Scuba Dev</a>
      </li>
  </ul>
</footer>
